@import url("https://fonts.googleapis.com/css2?family=Archivo&display=swap");



/* Hide the default dropdown arrow */
select::-ms-expand,
select::-webkit-select-arrow {
  display: none;
}

/* Create a custom dropdown arrow using a pseudo-element */
select {
  appearance: none; /* Remove default styles */
}
select::after {
  content: "\25BC"; /* Unicode arrow character */
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* Allow interaction with select box beneath */
}
select option {
  /* Apply styles to the options */
  background-color: #fff;
  color: #333;
  font-size: 16px;
  padding: 5px 10px;
}

select option:checked {
  /* Apply styles to the selected option */
  background-color: #18c981;
  color: #fff;
}
.react-tel-input .form-control {
  background-color: #f3f3f3;
  width: 100%;
  height: 45px;
  border: none;
}
